colorcet
appdirs
Pillow
pynwb
tqdm
PySide2
pyqt5
pyqtwebengine
pyqt5-sip
pyqtgraph==0.13.1
cython
neo
pylru==1.2.1
h5py==3.7.0
joblib
future==0.18.2
pyYAML==6.0
python-dateutil
seaborn
pytz
scipy
pandas
matplotlib
pycairo
scikit-image
NeuroM @ git+https://github.com/ZeitgeberH/NeuroM@patchview#egg=NeuroM
morphio
sklearn
numpy>=1.22,<1.24
